// bc --> background-color
// h --> hover
// a --> active

$roadmap-bc: #373F68;
$roadmap-component-header: #3A4374;
$roadmap-span-color: #647196;
$planned-bc: #F49F85;
$progress-bc: #AD1FEA;
$live-bc: #62BCFA;
$feedback-btn-color: #F2F4FE;
$feedback-btn-bc-a: #C75AF6; 
$btn-color: #4661E6;
$btn-bc: #F2F4FF;
$tag-btn-bc: #CFD7FF;
$comment-icon-color: #CDD2EE;