.container {
    width: 1200px;
    margin: 0 auto;
}

.row {
    display: flex;
    justify-content: space-between;
}

.col-1 {
    width: calc((100%/12)*1);
}

.col-2 {
    width: calc((100%/12)*2);
}

.col-3 {
    width: calc((100%/12)*3);
}

.col-4 {
    width: calc((100%/12)*4);
}

.col-5 {
    width: calc((100%/12)*5);
}

.col-6 {
    width: calc((100%/12)*6);
}

.col-7 {
    width: calc((100%/12)*7);
}

.col-8 {
    width: calc((100%/12)*8);
}

.col-9 {
    width: calc((100%/12)*9);
}

.col-10 {
    width: calc((100%/12)*10);
}

.col-11 {
    width: calc((100%/12)*12);
}

.col-12 {
    width: calc((100%/12)*12);
}

:root {
    --main-color: #ff4343;
    --btn-hover: #e33939;
    --shadow-color: 5px 5px 3px #ddd;
    --p-color: #919191;
    --space-x: 10px;
    --space-2x: 20px;
    --space-3x: 30px;
    --space-4x: 40px;
    --space-5x: 50px;
}

.space {
    margin: 0px 15px;
}

.border-radius {
    margin-left: 34%;
    border-radius: 100%;
    width: 130px;
    height: 130px;
    box-shadow: var(--shadow-color);
    border: 1px solid #ddd;
    transition: all .3s ease;
}

.service-item:hover>.border-radius {
    box-shadow: -5px 7px 3px #ddd;
    transition: all .3s ease;
}

.btn {
    border-radius: 40px;
    color: #fff;
    background-color: var(--main-color);
    border: none;
    cursor: pointer;
    font-size: 16px;
    width: 130px;
    height: 50px;
    margin-left: 32%;
    margin-top: 30px;
}

.btn:hover {
    background-color: var(--btn-hover);
}