.services {
    display: flex;
    margin: 10% auto;
}

.service-item {
    position: relative;
    width: 360px;
    height: 330px;
    background-color: var(--background-color);
}

.service-item i {
    margin-top: -18%;
    margin-bottom: 10%;
    display: flex;
    justify-content: center;
    font-size: 52px;
    line-height: 2.5;
    color: var(--main-color);
}

h2 {
    font-family: 'Droid Sans', sans-serif;
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    opacity: 0.8;
}

p {
    color: var(--p-color);
    text-align: center;
    margin-top: 50px;
}

.btn {
    border-radius: 40px;
    color: #fff;
    background-color: var(--main-color);
    border: none;
    cursor: pointer;
    font-size: 16px;
    width: 130px;
    height: 50px;
    margin-left: 32%;
    margin-top: 45px;
}

.btn:hover {
    background-color: var(--button-color);
}

.border-radius {
    margin-left: 32%;
    border-radius: 50%;
    width: 130px;
    height: 130px;
    line-height: 130px;
    background-color: #fff;
    transition: all .3s ease;
}

.service-item:hover>i {
    color: #fff;
}

.service-item:hover>.border-radius {
    transition: all .3s ease;
    background-color: var(--main-color);
}

