/* .services {
    display: flex;
    margin: 10% auto;
}

.service-item {
    position: relative;
    width: 360px;
    height: 240px;
    background-color: #fff;
    transition: all .3s ease;
    border: 1px solid var(--main-color);
}

.service-item i {
    text-align: right;
    display: flex;
    justify-content: flex-start;
    font-size: 52px;
    line-height: 2.3;
    color: var(--main-color);
    margin-left: 25px;
}

h2{
    font-family: 'Droid Sans',sans-serif;
    font-weight: 700;
    font-size: 30px;
    display: flex;
    justify-content: center;
    margin-top: -30%;
    margin-left: 20%;
}

p {
    text-align: left;
    margin-left: 37%;
    margin-top: 30px;
    color: var(--p-color);
}

.photo{
    margin-left: 34%;
}

.design{
    margin-left: 32%;
}
*/