.container {
    width: 1200px;
    margin: 0 auto;
}

.row {
    display: flex;
    justify-content: space-between;
}

.col-1 {
    width: calc((100%/12)*1);
}

.col-2 {
    width: calc((100%/12)*2);
}

.col-3 {
    width: calc((100%/12)*3);
}

.col-4 {
    width: calc((100%/12)*4);
}

.col-5 {
    width: calc((100%/12)*5);
}

.col-6 {
    width: calc((100%/12)*6);
}

.col-7 {
    width: calc((100%/12)*7);
}

.col-8 {
    width: calc((100%/12)*8);
}

.col-9 {
    width: calc((100%/12)*9);
}

.col-10 {
    width: calc((100%/12)*10);
}

.col-11 {
    width: calc((100%/12)*12);
}

.col-12 {
    width: calc((100%/12)*12);
}

:root {
    --shadow-color: 1px 2px 10px rgb(0 0 0 / 18%);
    --space-x: 10px;
    --space-2x: 20px;
    --space-3x: 30px;
    --space-4x: 40px;
    --space-5x: 50px;
    --main-color: orange;
    --hover-color: #fff;
    --p-color: #919191;
}

.border {
    border: 1px solid #fff;
    width: 360px;
    height: 410px;
}

.border-circle {
    border: solid;
    border-radius: 50%;
    width: 130px;
    height: 130px;
    line-height: 130px;
    margin: 10% auto;
    color: var(--main-color);
}

.box-shadow {
    box-shadow: var(--shadow-color);
}

.margin-x {
    margin: 0px 15px;
}

.btn {
    width: 145px;
    height: 50px;
    font-size: 15px;
    margin-left: 30%;
    margin-top: var(--space-3x);
    color: #fff;
    text-decoration: none;
    border: 1px solid var(--main-color);
    background: var(--main-color);
    cursor: pointer;
}