//bc --> background-color
//h --> hover
//a --> active
$btn-1-bc: #AD1FEA;
$btn-1-h: #C75AF6;
$btn-2-bc:#4661E6;
$btn-2-h: #7C91F9;
$btn-3-bc: #3A4374;
$btn-3-h: #656EA3;
$btn-4-bc:#D73737;
$btn-4-h:#E98888;
$btn-int-bc: #F2F4FF;
$btn-int-h: #CFD7FF;
$btn-int-a: #4661E6;
$btn-int-a-h: #8397F8;
$suggestion-bc: #373F68;
$number-color: #647196;
$plan-color: #F49F85;
$progress-color: #AD1FEA;
$live-color: #62BCFA;
$gradient: radial-gradient(128.88% 128.88% at 103.9% -10.39%, #E84D70 0%, #A337F6 53.09%, #28A7ED 100%);